.container-footer{    
    margin: 0 0 auto;
    height: 1080px;
    background-image: url(../img/footer/back.jpg);  
    background-repeat: no-repeat;
    background-position: center;
}
.footer{
    display: grid;
    align-items: center;
    width: 1355px;    
    grid-template-rows: 150px 775px 150px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-template-areas: 
    "title-name name-mma"
    "footer-map footer-form"
    "footer-adress footer-contacts";
}
.footer-title{
    font-family: 'Pragmatica Extended', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 65px;
    letter-spacing: -1px;
    color: #f7f7f7;
    grid-area: title-name;
    align-self: end;
}
.map{
    grid-area: footer-map;
}
.map-m{
    display: none;
}
.footer-aside{
    grid-area: footer-form;
    height: 600px;
    display: grid;
    grid-template-rows: 1fr ;
    /* 1fr 1fr 2fr 2fr 0.5fr */
    grid-template-areas: 
    "f_email"
    /* "f_name"
    "f_number"
    "f_comment"
    "f_btn"
    "f_oferta"    ; */
}
.aside-form{
    color: #f7f7f7;
    grid-area: f_email;
    border-radius: 1px;
    /* background-color: #f2f2f2; */
    padding-left: 80px;
    width: 655px;
}
label{
    margin-left: 2px;
    font-family: 'Pragmatica Extended';
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #f7f7f7;
    margin-bottom: 5px;
}
h4{
    margin-top: 20px;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;
    color: #656565;
    font-size: 13px;
}
.footer-adress{
    margin-top: 15px;
    justify-self: start;
    grid-area: footer-adress;
}
.footer-contacts{
    margin-top: 15px;
    justify-self: end;
    grid-area: footer-contacts;
}
@media (min-width: 766px) and (max-width:1365px)  {

    .container-footer{
        padding: 0 10px;
        height: 2000px;
        background-image: none;
        background-color: #050505;
    }
    .map-m{
        display: block;
        grid-area: footer-map;
    }
    .map{
        display: none;
    }
    .footer{
        display: grid;
        grid-template-rows: 0.3fr 1.2fr 1fr 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        width: 706px;    
        margin: 0 auto;
        grid-template-areas: 
        "title-name"
        "footer-map"
        "footer-form"
        "footer-adress"
        "footer-contacts";
    }
    .footer-aside{
        grid-area: footer-form;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr ;       
    }
    .aside-form{
        color: #f7f7f7;
        grid-area: f_email;
        /* background-color: #f2f2f2; */
        padding-left: 0;
        width: 676px;
    }
    .footer-title {
        align-self: center;
    }
    
}