.container-footer{    
    padding: 0 10px;
    margin: 0 0 auto;
    height: 2352px;
    background-image: url(../img/footer/back.jpg);  
    background-repeat: no-repeat;
    background-position: center;
}
.footer{
    display: grid;
    align-items: center;
    width: 1333px;    
    grid-template-rows: 12px 160px 795px 195px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-template-areas: 
    "shedule shedule"
    "title-name social"
    "footer-map footer-form"
    "footer-adress footer-contacts";
}
.vk{
    align-self: center;
    margin-top: 201px;
    margin-left: 20px;
    width: 50px;
    z-index: 2;
}
.inst{
    align-self: center;
    margin-top: 271px;
    margin-left: 290px;
    width: 50px;
    z-index: 2;
}
.social{
    display: grid;
    grid-area: grid;
    grid-area: social;   
    grid-template-areas: 
    "inst vk"; 

}
.shedule{
    display: grid;
    grid-area: grid;
    grid-gap: 50px;
    width: 1333px;  
    grid-template-rows: 150px 400px 500px ;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-template-areas: 
    "shedule-title shedule-title"
    "box-kids box-old"
    "mma-kids mma-all"
    ;
}
.shedule-title{
    font-family: 'Pragmatica Extended', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 65px;
    letter-spacing: -1px;
    color: #f7f7f7;
    grid-area: shedule-title;
    align-self: flex-start;
}
.box-kids{
    display: grid;
    align-items: center;
    width: 600px;    
    grid-template-rows: 60px 340px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "box-kids-subtitle box-kids-subtitle box-kids-subtitle "
    "box-kids-shedule box-kids-shedule box-kids-shedule";
}
.box-old{
    display: grid;
    align-items: center;
    width: 600px;    
    grid-template-rows: 60px 240px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "box-kids-subtitle box-kids-subtitle box-kids-subtitle "
    "box-kids-shedule box-kids-shedule box-kids-shedule";
}
.mma-kids{
    display: grid;
    align-items: center;
    width: 600px;    
    grid-template-rows: 60px 410px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "box-kids-subtitle box-kids-subtitle box-kids-subtitle "
    "mma-kids-shedule mma-kids-shedule mma-kids-shedule";
}


.box-kids-subtitle{
    font-family: 'Pragmatica Extended', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
    letter-spacing: -1px;
    color: #f7f7f7;
    grid-area: box-kids-subtitle;
}
.box-kids-subtitle2{
    font-family: 'Pragmatica Extended', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
    letter-spacing: -1px;
    color: #f7f7f7;
    grid-area: box-kids-subtitle2;
    align-self: flex-start;
    justify-self: end;
}
.box-kids-shedule{
    display: grid;
    align-items: center;
    width: 600px;    
    grid-template-rows: 70px 240px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: box-kids-shedule ;
    grid-template-areas: 
    "day day2 day3"
    "time time2 time3";
    background-image: url(../img/footer/shedule.png);
}
.mma-men{
    margin-top: 12px;
}
.mma-women{
    margin-top: 40px;
}
.mma-men-shedule{
    display: grid;
    align-items: center;
    width: 600px;    
    margin-top: 40px;
    grid-template-rows: 70px 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: box-kids-shedule ;
    grid-template-areas: 
    "day day2 day3"
    "time time2 time3";
    background-image: url(../img/footer/shedule.png);
}
.mma-women-shedule{
    display: grid;
    align-items: center;
    width: 600px;    
    margin-top: 40px;
    grid-template-rows: 70px 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: box-kids-shedule ;
    grid-template-areas: 
    "day day2 day3"
    "time time2 time3";
    background-image: url(../img/footer/shedule.png);
}
.mma-men-shedule{
    display: grid;
    align-items: center;
    width: 600px;    
    grid-template-rows: 70px 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: box-kids-shedule ;
    grid-template-areas: 
    "day day2 day3"
    "time time2 time3";
    background-image: url(../img/footer/shedule.png);
}
.box-old-shedule{
    margin-top: 40px;
    display: grid;
    align-items: center;
    width: 600px;    
    grid-template-rows: 70px 170px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: box-kids-shedule ;
    grid-template-areas: 
    "day day2 day3"
    "time time2 time3";
    background-image: url(../img/footer/shedule.png);
}
.mma-kids-shedule{
    margin-top: 40px;
    display: grid;
    align-items: center;
    width: 600px;    
    grid-template-rows: 90px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: mma-kids-shedule ;
    grid-template-areas: 
    "day day2 day3"
    "time time2 time3";
    background-image: url(../img/footer/shedule.png);
}
.time{
    color: #f7f7f7;
    /* grid-area: day; */
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 20px;
    line-height: 25px;
    margin-left: 20px;
}
.time-old{
    color: #f7f7f7;
    /* grid-area: day; */
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 20px;
    line-height: 25px;
    background-color: #c02323;
    padding: 10px 10px;
    border-radius: 3px;
    
}
.time-old2{
    color: #f7f7f7;
    /* grid-area: day; */
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 20px;
    margin-left: 2px;
    line-height: 25px;
    background-color: #c02323;
    padding: 10px 10px;
    border-radius: 3px;
    
}
.day{
    color: #f7f7f7;
    /* grid-area: day; */
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 18px;
    margin-left: 20px;
}
.day2{
    color: #f7f7f7;
    grid-area: day2;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 18px;
    margin-left: 20px;
}
.day3{
    color: #f7f7f7;
    grid-area: day3;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 18px;
    margin-left: 20px;
}
.footer-title{
    font-family: 'Pragmatica Extended', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 65px;
    letter-spacing: -1px;
    color: #f7f7f7;
    grid-area: title-name;
    align-self: end;
}
.map{
    grid-area: footer-map;
}
.footer-aside{
    grid-area: footer-form;
    height: 600px;
    display: grid;
    grid-template-rows: 1fr ;
    /* 1fr 1fr 2fr 2fr 0.5fr */
    grid-template-areas: 
    "f_email"
    /* "f_name"
    "f_number"
    "f_comment"
    "f_btn"
    "f_oferta"    ; */
}
.aside-form{
    color: #f7f7f7;
    grid-area: f_email;
    border-radius: 1px;
    /* background-color: #f2f2f2; */
    padding-left: 80px;
    width: 655px;
}
label{
    margin-left: 2px;
    font-family: 'Pragmatica Extended';
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #f7f7f7;
    margin-bottom: 5px;
}
h4{
    margin-top: 20px;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;
    color: #656565;
    font-size: 13px;
}
.footer-adress{
    margin-top: 130px;
    justify-self: start;
    grid-area: footer-adress;
}
.footer-contacts{
    margin-top: 130px;
    justify-self: end;
    grid-area: footer-contacts;
}
.footer-flex{display: none;}
.title-laptop{display: none;}
@media (min-width: 766px) and (max-width:1365px)  {

    .shedule{
        display: grid;
        grid-area: grid;
        grid-gap: 50px;
        width: 600px;  
        grid-template-rows: 150px 400px 350px ;
        grid-template-columns: 1fr;
        margin: 0 auto;
        grid-template-areas: 
        "shedule-title "
        "box-kids"
        "box-old"
        "mma-kids"
        "mma-all"
        ;
    }
    .container-footer{     
        margin-top: -2px;   
        height: 3000px;
        background-image: none;
        background-color: #050505;
    }
    .footer-flex{
        display: none;
    }
    .footer{
        display: grid;
        grid-template-rows: 200px 1.2fr 1fr 0.4fr;
        grid-template-columns: 1fr;
        align-items: center;
        width: 706px;    
        margin: 0 auto;
        grid-template-areas: 
        "title-name"
        "footer-map"
        "footer-form"
        "footer-flex";
    }
    .footer-adress{
        display: none;
    }
    .footer-contacts{
        display: none;
    }
    .footer-flex{
        display: flex;
        grid-area: footer-flex;
        justify-content: space-between;
        align-items: center;
    }  
    .footer-aside{
        grid-area: footer-form;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr ;       
    }
    .aside-form{
        color: #f7f7f7;
        grid-area: f_email;
        /* background-color: #f2f2f2; */
        padding-left: 0;
        width: 720px;
    }
    .footer-title-laptop{
        font-family: 'Pragmatica Extended', sans-serif;
        font-weight: 800;
        font-style: italic;
        font-size: 65px;
        letter-spacing: -1px;
        color: #f7f7f7;
        grid-area: title;
        align-self: center;
        margin-top: 70px;
    }
    .footer-title{
        display: none;
    }
    
    .title-laptop{
        justify-self: center;
        display: grid;
        grid-area: title-name;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title social";
    }
    .social-laptop{
        justify-self: center;
       display: grid;
       grid-area: social;
       grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "inst vk";
    }
    .vk-laptop{
        margin-top: 200px;
        z-index: 2;
    }
    .inst-laptop{
        z-index: 2;
        margin-top: 200px;
    }
    .social{
        display: none;
    }
    
}
@media  (max-width:765px)  {

    .container-footer{        
        height: 2000px;
        background-image: none;
        background-color: #050505;
    }
   
    .footer{
        display: grid;
        grid-template-rows: 0.1fr 0.5fr 0.5fr 0.1fr;
        grid-template-columns: 1fr;
        align-items: center;
        width: 300px;    
        margin: 0 auto;
        grid-template-areas: 
        "title-name"
        "footer-map"
        "footer-form"        
        "footer-contacts"
        "footer-adress";
    }
    .footer-adress{
        justify-self: end;
    }
    .footer-contacts{
        justify-self: end;
        align-self: end;
    }
    .footer-aside{
        grid-area: footer-form;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr ;       
    }
    .aside-form{
        color: #f7f7f7;
        grid-area: f_email;
        /* background-color: #f2f2f2; */
        padding-left: 0;
        width: 300px;
    }
    .footer-title {
        align-self: center;
        justify-self: start;
        font-size: 37px;
    }
    .footer-flex{
        display: none;
    }
    
}