.header{
    display: grid;
    grid-template-rows: 1fr 1.8fr 2.5fr 1.4fr 4.6fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 1333px;
    margin: 0 auto;
    grid-template-areas: 
    "header-adress header-logo header-contacts"
    "header-text . ."
    "header-slogan header-slogan ."
    "header-btn header-btn ."
    "header-box header-box2 header-box3"
    ;
}
.container{
    padding: 0 10px;
}
.adress{
    color: #FFFF;
    font-family: 'Pragmatica Extended';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.call{
    color: #FFFF;
    font-size: 22px;
    font-family: 'Pragmatica Extended';
    font-weight: 700;
    text-align: end;
    
}
.call2{
    color: #FFFF;
    font-size: 14px;
    font-family: 'Graphik LCG';
    font-weight: normal;    
    text-align: end;
    
}

.header-box{
    width: 415px;
    height: 400px;
    border: #4b4b4b 1px solid;
    border-radius: 1px;
    align-self: flex-end;
    justify-self: start;
    color: #FFFF;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 18px;
    grid-area: header-box;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: grid;
    grid-template-columns: 1fr 4fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 0.3fr;
    grid-template-areas: 
    ". a ."
    ". b b"
    ". c c"
    ;
}
.icon1{
    grid-area: a;
    align-self: center;
    justify-self: start;
}
.box1-title{
    font-family: 'Pragmatica Extended', sans-serif;
    font-weight: 900;
    letter-spacing: px;
    font-style: italic;
    font-size: 25px;
    grid-area: b;
    align-self: flex-end;
}
.box1-subtitle{
    grid-area: c;
    font-size: 18px;
    color: #FFFF;
    align-self: center;
    font-weight: 300;
    line-height: 24px;
}

.header-box2{
    width: 415px;
    height: 400px;
    border: #FFFF;
    border-radius: 1px;
    align-self: flex-end;
    justify-self: center;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: #FFFF;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 18px;
    background: url(../img/header/1123.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: header-box2;
    display: grid;
    grid-template-columns: 1fr 4fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 0.3fr;
    grid-template-areas: 
    ". a2 ."
    ". b2 b2"
    ". c2 c2"
    ;
}
.icon2{
    grid-area: a2;
    align-self: center;
    justify-self: start;
}
.box2-title{
    font-family: 'Pragmatica Extended', sans-serif;
    font-weight: 900;
    letter-spacing: px;
    font-style: italic;
    font-size: 25px;
    grid-area: b2;
    align-self: flex-end;
}
.box2-subtitle{
    grid-area: c2;
    font-size: 18px;
    color: #FFFF;
    align-self: center;
    font-weight: 300;
    line-height: 24px;
}

.header-box3{
    width: 415px;
    height: 400px;
    border: #4b4b4b 1px solid;
    border-radius: 1px;
    align-self: flex-end;
    justify-self: end;
    color: #FFFF;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    font-size: 18px;
    grid-area: header-box3;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: grid;
    grid-template-columns: 1fr 4fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 0.3fr;
    grid-template-areas: 
    ". a3 ."
    ". b3 b3"
    ". c3 c3"
}
.icon3{
    grid-area: a3;
    align-self: center;
    justify-self: start;
}
.box3-title{
    font-family: 'Pragmatica Extended', sans-serif;
    font-weight: 900;
    letter-spacing: px;
    font-style: italic;
    font-size: 25px;
    grid-area: b3;
    align-self: flex-end;
}
.box3-subtitle{
    grid-area: c3;
    font-size: 18px;
    color: #FFFF;
    align-self: center;
    font-weight: 300;
    line-height: 24px;
    margin-top: -18px;
}


.header-btn{
    align-self: flex-end;
    color: #FFFF;
    font-size: 16px;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius:  1px;
    padding: 40px 60px;
	width: 560px;
    text-align: center;
	background: #d21a21;
    grid-area: header-btn;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.6s; /* Задержка перед началом */
    
}
.header-btn:hover{
    align-self: flex-end;
    color: #FFFF;
    font-size: 16px;
    font-family: 'Graphik LCG', sans-serif;
    font-weight: normal;    
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius:  1px;
    padding: 40px 60px;
	width: 560px;
    text-align: center;
	background: #e4252b;
    grid-area: header-btn;
}
.header-slogan{
    align-self: center;
    grid-area: header-slogan;
}
.header-text{
    grid-area: header-text;
    color: #FFFF;
    font-size: 18px;
    font-family: 'Graphik LCG';
    font-weight: normal;    
    text-transform: uppercase;
    letter-spacing: 3px;

}
.header-logo{
    grid-area: header-logo;
    justify-self: center;
}
.header-adress{
    justify-self: start;
    grid-area: header-adress;
}
.wrap-box{
    display: none;
    grid-area: wrap-box;
}
.header-contacts{
    justify-self: end;
    grid-area: header-contacts;
}
.slider{
    width: 0px;
    display: none;
}
.header-box1{
    display: none;
}
.header-box22{
    display: none;
}
.header-box33{
    display: none;
}
@media (min-width: 766px) and (max-width:1365px)  {
    .header-slogan{
        width: 600px;
    }
    
    .slick-slide {
        margin: 50px 30px 0 0;
      }
    .slider {
        width: 800px;
        margin: 0 auto;
    }
    .container {
        
        overflow-x: hidden
    }
    .header {
      width: 706px;
      grid-template-rows: 1.2fr 1.2fr 3.2fr 1.2fr 4fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "header-adress header-logo header-contacts"
      "header-text header-text ."
      "header-slogan header-slogan ."
      "header-btn header-btn ."
      "slider slider slider"
    }
    .regular{
        grid-area: slider;
    }    
    .header-box{
        display: none;
    }
    .header-box2{
        display: none;
    }
    .header-box3{
        display: none;
    }
    .header-box33{
        width: 415px;
        height: 400px;
        border: #4b4b4b 1px solid;
        border-radius: 1px;
        align-self: flex-end;
        justify-self: end;
        color: #FFFF;
        font-family: 'Graphik LCG', sans-serif;
        font-weight: normal;    
        font-size: 18px;
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: grid;
        grid-template-columns: 1fr 4fr 6fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr;
        grid-template-areas: 
        ". a3 ."
        ". b3 b3"
        ". c3 c3"
    }
    .header-box22{
        width: 415px;
        height: 400px;
        border: #FFFF;
        border-radius: 1px;
        align-self: flex-end;
        justify-self: center;
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        color: #FFFF;
        font-family: 'Graphik LCG', sans-serif;
        font-weight: normal;    
        font-size: 18px;
        background: url(../img/header/1123.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 4fr 6fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr;
        grid-template-areas: 
        ". a2 ."
        ". b2 b2"
        ". c2 c2"
        ;
    }
    .header-box1{
        width: 415px;
        height: 400px;
        border: #4b4b4b 1px solid;
        border-radius: 1px;
        align-self: flex-end;
        justify-self: start;
        color: #FFFF;
        font-family: 'Graphik LCG', sans-serif;
        font-weight: normal;    
        font-size: 18px;
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: grid;
        grid-template-columns: 1fr 4fr 6fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr;
        grid-template-areas: 
        ". a ."
        ". b b"
        ". c c"
        ;
    }

}