
@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Regular.eot');
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
        url('GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('GraphikLCG-Regular.woff2') format('woff2'),
        url('GraphikLCG-Regular.woff') format('woff'),
        url('GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-BookOblique.eot');
    src: local('Pragmatica Extended Book Oblique'), local('PragmaticaExtended-BookOblique'),
        url('PragmaticaExtended-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-BookOblique.woff2') format('woff2'),
        url('PragmaticaExtended-BookOblique.woff') format('woff'),
        url('PragmaticaExtended-BookOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-Light.eot');
    src: local('Pragmatica Extended Light'), local('PragmaticaExtended-Light'),
        url('PragmaticaExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-Light.woff2') format('woff2'),
        url('PragmaticaExtended-Light.woff') format('woff'),
        url('PragmaticaExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-Medium.eot');
    src: local('Pragmatica Extended Medium'), local('PragmaticaExtended-Medium'),
        url('PragmaticaExtended-Medium.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-Medium.woff2') format('woff2'),
        url('PragmaticaExtended-Medium.woff') format('woff'),
        url('PragmaticaExtended-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-BlackOblique.eot');
    src: local('Pragmatica Extended Black Oblique'), local('PragmaticaExtended-BlackOblique'),
        url('PragmaticaExtended-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-BlackOblique.woff2') format('woff2'),
        url('PragmaticaExtended-BlackOblique.woff') format('woff'),
        url('PragmaticaExtended-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-Book.eot');
    src: local('Pragmatica Extended Book'), local('PragmaticaExtended-Book'),
        url('PragmaticaExtended-Book.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-Book.woff2') format('woff2'),
        url('PragmaticaExtended-Book.woff') format('woff'),
        url('PragmaticaExtended-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-Black.eot');
    src: local('Pragmatica Extended Black'), local('PragmaticaExtended-Black'),
        url('PragmaticaExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-Black.woff2') format('woff2'),
        url('PragmaticaExtended-Black.woff') format('woff'),
        url('PragmaticaExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-BoldOblique.eot');
    src: local('Pragmatica Extended Bold Oblique'), local('PragmaticaExtended-BoldOblique'),
        url('PragmaticaExtended-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-BoldOblique.woff2') format('woff2'),
        url('PragmaticaExtended-BoldOblique.woff') format('woff'),
        url('PragmaticaExtended-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-LightOblique.eot');
    src: local('Pragmatica Extended Light Oblique'), local('PragmaticaExtended-LightOblique'),
        url('PragmaticaExtended-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-LightOblique.woff2') format('woff2'),
        url('PragmaticaExtended-LightOblique.woff') format('woff'),
        url('PragmaticaExtended-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-ExtraBoldObl.eot');
    src: local('Pragmatica Extended ExtraBold Oblique'), local('PragmaticaExtended-ExtraBoldObl'),
        url('PragmaticaExtended-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-ExtraBoldObl.woff2') format('woff2'),
        url('PragmaticaExtended-ExtraBoldObl.woff') format('woff'),
        url('PragmaticaExtended-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-Bold.eot');
    src: local('Pragmatica Extended Bold'), local('PragmaticaExtended-Bold'),
        url('PragmaticaExtended-Bold.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-Bold.woff2') format('woff2'),
        url('PragmaticaExtended-Bold.woff') format('woff'),
        url('PragmaticaExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-MediumObliqu.eot');
    src: local('Pragmatica Extended Medium Oblique'), local('PragmaticaExtended-MediumObliqu'),
        url('PragmaticaExtended-MediumObliqu.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-MediumObliqu.woff2') format('woff2'),
        url('PragmaticaExtended-MediumObliqu.woff') format('woff'),
        url('PragmaticaExtended-MediumObliqu.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-ExtraLight.eot');
    src: local('Pragmatica Extended ExtraLight'), local('PragmaticaExtended-ExtraLight'),
        url('PragmaticaExtended-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-ExtraLight.woff2') format('woff2'),
        url('PragmaticaExtended-ExtraLight.woff') format('woff'),
        url('PragmaticaExtended-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-ExtraLightOb.eot');
    src: local('Pragmatica Extended ExtraLight Oblique'), local('PragmaticaExtended-ExtraLightOb'),
        url('PragmaticaExtended-ExtraLightOb.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-ExtraLightOb.woff2') format('woff2'),
        url('PragmaticaExtended-ExtraLightOb.woff') format('woff'),
        url('PragmaticaExtended-ExtraLightOb.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('PragmaticaExtended-ExtraBold.eot');
    src: local('Pragmatica Extended ExtraBold'), local('PragmaticaExtended-ExtraBold'),
        url('PragmaticaExtended-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaExtended-ExtraBold.woff2') format('woff2'),
        url('PragmaticaExtended-ExtraBold.woff') format('woff'),
        url('PragmaticaExtended-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

